.slide1{
  height:100vh;
  background-image:url("../img/IMG_2139.JPG");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.slide2{
  height:100vh;
  background-image:url("../img/IMG_2139.JPG");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.slide3{
  height:100vh;
  background-image:url("../img/IMG_2139.JPG");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#theCarousel .carousel-control{
  background: none;
}

.body{
  height: 100vh;
}

.navbar-brand img{
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  height: 200%;
  transform: translate(-50%, -50%);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.nav a{
  color:#E6E6E6 !important;
}

.nav a :hover{
  transition-duration: 0.5s;
  color:white !important;
}

.active1{
  background-color: rgba(15, 15, 15, 0.5) !important;
}
.nav li :hover{
  transition-duration: 0.5s;
  background-color: rgba(15, 15, 15, 0.5) !important;
  color:white !important;
}

.active1 a{
  color: white !important;
}

.navbar-collapse {
  border: none;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border: none;
}


.icon-bar{
  border: 1.5px solid white;
}
